<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section class="section-spacing center-content">
    <h1 class="title">Book Collection</h1>
    
    <% if(user.email == "floor7table15@gmail.com"){ %>
      <h2 class="subtitle">Your students have a total of <%= left %> books left to read.</h2>
    <% } else{ %>  
      <h2 class="subtitle"><%= user.userName %> has <%= left %> books left to read.</h2>
   <% } %>


    <form action="/todos/createTodo" method='POST'>
      <input class="input-search" type="text" placeholder="Enter Book Title Here" name='todoItem'>
      <input class="cursor button" type="submit" value="Log Book">
    </form>
    <a href="/logout"><button class="cursor button logout-spacing" type="button">Logout</button></a>
  </section>

    <section class="layout-grid section-spacing">
      <% todos.forEach( el => { %>
          <div> 
            <div class="layout-card">
              <div data-id='<%=el._id%>' class='todoItem card-box center-content'>
                <span class="cursor <%= el.completed === true ? 'completed' : 'not'%>"><h2><%= el.todo %></h2></span>
                <div class='del'>
                  <span class="cursor">Remove Book &#x1F5D1 </span>
                </div>
              </div>
            </div>
          </div>
          <% }) %>    
    </section>
    <!--<ul>

    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> &#x1F5D1 </span>
            </li>
            <% }) %>    
    </ul>-->

    <script src="js/main.js"></script>
</body>
</html>